<div class="sidebar">

    <div class="logo">
        <h3>StockControl</h3>
    </div>

    <ul class="sidebar-list">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/company">Company</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/products">Transactions</a></li>
        <li><a href="/market">Market</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <div class="currency-picker">
        <form>
            <label for="currensy">Currency</label>
            <select id="currensy">
                <option selected>USD</option>
                <option>TRY</option>
            </select>
        </form>

    </div>
</div>

<div class="mock-sidebar"></div>


