<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href="resource/style/style.css" rel="stylesheet" />
    <link th:href="@{/resource/style/style.css}" rel="stylesheet" />
</head>
<body>
<div class="dashboard">

    <div th:replace="fragments/sidebar"></div>

    <div class="dash-main">
        <div class="content-header light-blue-bg">
            <h2>Companies</h2>
        </div>


        <section>
            <div class="product-action">
                <a href="#" onclick="showAddModal()" class="action-float"><span>+</span></a>
                <a href="/import"><button>Import/Export</button></a>

            </div>
        </section>


        <section>

            <p th:if="${companyList.isEmpty()}">You do not have any companies yet</p>

            <div class="row">
                <div class="column card" th:each="company : ${companyList}">
                    <img src="resource/images/card-girl.jpeg">
                    <b th:text="${company.getName()}">Apple</b>
                    <p><span th:text="${company.getProductCount()}">0</span> Products</p>
                </div>
            </div>
        </section>







        <div class="pop-up" id="add-product">

            <div class="dash-modal" id="add-company-form">
                <a class="hide-modal" href="#" onclick="hideModal()">x</a>
                <form action="#" method="post">
                    <div class="container">
                        <h3>Add Company</h3>
                        <hr style="border: 1px solid #e8e8e8">
                        <br>

                        <div th:if="${role != roles.USER}">
                            <label><b>Name</b></label><br>
                            <input type="text" placeholder="Company Name" name="name" required>
                            <br>

                            <button type="submit">Add</button>
                            <button type="submit" style="background-color: red; margin-top: 20px;" onclick="hideModal()">Cancel</button><br><br>

                        </div>

                        <div th:if="${role eq roles.USER}" style="margin: 30px">
                            You do not have permissions to do this
                            <br><br>
                            <a href="/admin/upgrade"> Upgrade to Admin</a>
                        </div>

                    </div>

                </form>
            </div>

        </div>


    </div>

</div>


<script type="text/javascript">

    function showAddModal() {
        showModal();
        document.getElementById("add-company-form").style.display="block";
    }



    function showModal() {
        document.getElementById("add-product").style.display="block";
    }

    function hideModal() {
        document.getElementById("add-product").style.display="none";
    }

</script>
</body>
</html>
