<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link th:href="@{resource/style/style.css}" rel="stylesheet" />
    <link href="resource/style/style.css" rel="stylesheet" />

</head>
<body>
<div class="dashboard">

    <div th:replace="fragments/sidebar"></div>

    <div class="dash-main">
        <div class="content-header light-blue-bg">
            <h2>Dashboard</h2>
        </div>

        <section class="cards">

            <div class="card">
                <p>Products</p>
                <h2 th:text="${productsCount}">0</h2>
            </div>
            <div class="card">
                <p>Companies</p>
                <h2 th:text="${companyCount}">0</h2>
            </div>
            <div class="card">
                <p>Users</p>
                <h2 th:text="${usersCount}">0</h2>
            </div>

        </section>

        <section class="product flex">
            <div class="transactions">
                <h3>Transactions</h3>
                <div class="products-list">
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Cost</th>
                            <th>Sold</th>
                            <th>Date</th>
                        </tr>

                        <tr th:if="${transactions.isEmpty()}">
                            <td colspan="5" align="center">No transactions yet</td>
                        </tr>
                        <tr th:each="trans : ${transactions}">
                            <td><img src="resourse/images/card.jpg" height="20px"></td>
                            <td><span th:text="${trans.getProductName()}">Product</span></td>
                            <td><span th:text="${trans.getCostPrice()}">Cost Price</span></td>
                            <td><span th:text="${trans.getSoldPrice()}">Sell Price</span></td>
                            <td><span th:text="${trans.getDate()}">Date</span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="performance">
                <ul>
                    <li>
                        <div>
                            <b>Profit in sales</b>
                            <p>+<span th:text="${profitInSalesPercent}">0</span>% (+$<span th:text="${profitInSales}">0</span>)</p>
                        </div>
                    </li>
                </ul>
            </div>

        </section>


    </div>

</div>

</body>
</html>
