<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href="resourse/style/style.css" rel="stylesheet" />

</head>
<body>
<div class="dashboard">

    <div class="sidebar">

        <div class="logo">
            <h3>StockControl</h3>
        </div>

        <ul class="sidebar-list">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/company">Company</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products">Transactions</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/logout">Logout</a></li>

            <!--
                            <li>
                                <a href="/products">Products</a>
                                <ul>
                                    <li><a href="/products/category">SubCategory</a></li>
                                </ul>
                            </li>
                            -->
        </ul>

        <div class="currency-picker">
            <form>
                <label for="currensy">Currency</label>
                <select id="currensy">
                    <option selected>USD</option>
                    <option>TRY</option>
                </select>
            </form>

        </div>
    </div>
    <div class="mock-sidebar"></div>

    <div class="dash-main">
        <div class="content-header light-blue-bg">
            <h2>Dashboard</h2>
        </div>

        <section>
            <div class="product-action">
                <a href="#" onclick="showAddModal()" class="action-float"><span>+</span></a>
                <a href="#"><button>Import/Export</button></a>

            </div>
        </section>

        <section class="cards">

            <div class="card">
                <p>Products</p>
                <h2>40</h2>
            </div>
            <div class="card">
                <p>Companies</p>
                <h2>3</h2>
            </div>
            <div class="card">
                <p>Users</p>
                <h2>2</h2>
            </div>

        </section>

        <section class="product flex">
            <div class="transactions">
                <h3>Transactions</h3>
                <div class="products-list">
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Cost</th>
                            <th>Sold</th>
                            <th>Date</th>
                        </tr>
                        <tr>
                            <td><img src="resourse/images/card.jpg" height="20px"></td>
                            <td>Guitar</td>
                            <td>$500</td>
                            <td>$700</td>
                            <td>1/3/2020</td>
                        </tr>
                        <tr>
                            <td><img src="resourse/images/card.jpg" height="20px"></td>
                            <td>Phone</td>
                            <td>$100</td>
                            <td>$400</td>
                            <td>2/1/2020</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="performance">
                <ul>
                    <li>
                        <div>
                            <b>Profit in sales</b>
                            <p>+20% (+$9400)</p>
                        </div>
                    </li>
                </ul>
            </div>

        </section>


    </div>

</div>

</body>
</html>
