<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href="resourse/style/style.css" rel="stylesheet" />

</head>
<body>

<div>

    <div class="dashboard">

        <div class="sidebar">

            <div class="logo">
                <h3>StockControl</h3>
            </div>

            <ul class="sidebar-list">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/products">Transactions</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/logout">Logout</a></li>

<!--
                <li>
                    <a href="/products">Products</a>
                    <ul>
                        <li><a href="/products/category">SubCategory</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>

        <div class="dash-main">
            <div class="row">
                <div class="column card">
                    <img src="resourse/images/card.jpg">
                    <b>Sustainable bond</b>
                </div>
                <div class="column card">
                    <img src="resourse/images/card.jpg">
                    <b>Sustainable bond</b>
                </div>
                <div class="column card">
                    <img src="resourse/images/card.jpg">
                    <b>Sustainable bond</b>
                </div>

            </div>
        </div>

    </div>

</div>

</body>
</html>
