<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-210055422-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-210055422-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WGD4NBH');</script>
    <!-- End Google Tag Manager -->
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href="resource/style/style.css" rel="stylesheet" />
    <link th:href="@{/resource/style/style.css}" rel="stylesheet" />

    <meta name="google-site-verification" content="p1mX1UlE6tYAfx3rjKW1Z5kPJhXdMxEQCnbjGWMD8kk" />


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGD4NBH"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div>
    <header>
        <div class="logo">
            <h3>StockControl</h3>
        </div>

        <div class="nav-link">
            <ul class="nav-link-list">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#" onclick="showRegister()">Register</a></li>
                <li><a href="/login">Login</a></li>
<!--                <li><a href="#" onclick="showRegister()">Products</a></li>-->
            </ul>
        </div>

    </header>

    <div class="splash-image">
        <div class="overlay-home"></div>
        <div class="mick" id="mick">
            <h1 class="drink-more-water">Stock Control</h1>
            <p class="faint-white">Inventory tracking and management system</p>
        </div>

        <div class="pop-up" id="login-pop">

            <div class="login-form" id="login-form">
                <form action="/login" method="post">
                    <div class="container">
                        <h3>Login</h3>
                        <hr style="border: 1px solid #e8e8e8">
                        <br>
                        <label><b>Username</b></label><br>
                        <input id="user" type="text" placeholder="Enter Username" name="username" required><br>

                        <label><b>Password</b></label><br>
                        <input id="pass" type="password" placeholder="Enter Password" name="password" required><br>

                        <button type="submit">Login</button>
                        <button type="submit" style="background-color: red; margin-top: 20px;" onclick="hideModal()">Cancel</button><br><br>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                </form>
            </div>

            <div class="login-form" id="signup-form">
                <form  method="post" th:action="@{/}" th:object="${signupInfo}">
                    <div class="container">
                        <h3>Register</h3>
                        <hr style="border: 1px solid #e8e8e8">
                        <br>
                        <label><b>Username</b></label><br>
                        <input type="text" placeholder="Enter Username" name="username" th:field="*{username}" required><br>

                        <label><b>Password</b></label><br>
                        <input type="password" placeholder="Enter Password" name="password" th:field="*{password}" required><br>

                        <label><b>First Name</b></label><br>
                        <input type="text" placeholder="Enter First Name" name="fname" th:field="*{fname}" required><br>

                        <label><b>Last Name</b></label><br>
                        <input type="text" placeholder="Enter Last Name" name="lname" th:field="*{lname}" required><br>

                        <button type="submit">Register</button>
                        <button type="submit" style="background-color: red; margin-top: 20px;" onclick="hideModal()">Cancel</button><br><br>

                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="main-container">

        <div style="margin-left: 50px;"><h2> Latest Products</h2></div>
        <div class="home-row">
            <div class="card" th:each="product : ${topProducts}">
                <img src="resource/images/card-girl.jpeg">
                <b th:text="${product.getName()}">Product</b>
            </div>
        </div>

    </div>

</div>



<script type="text/javascript">

    function validateLogin(){

        var user = document.getElementById("user").value;
        var pass = document.getElementById("pass").value;

        if(user === "" || user == null || pass === "" || pass == null){
            return false;
        }
    }

    function showLogin() {
        showModal();
        document.getElementById("login-form").style.display="block";
        document.getElementById("signup-form").style.display="none";
    }
    function showRegister() {
        showModal();
        document.getElementById("login-form").style.display="none";
        document.getElementById("signup-form").style.display="block";
    }
    function showModal() {
        document.getElementById("login-pop").style.display="block";
        document.getElementById("mick").style.display="none";
    }
    function hideModal() {
        document.getElementById("login-pop").style.display="none";
        document.getElementById("mick").style.display="block";
    }
</script>
</body>
</html>
