<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link th:href="@{resource/style/style.css}" rel="stylesheet" />
    <link href="resource/style/style.css" rel="stylesheet" />

</head>
<body>
<div class="dashboard">
    <div th:replace="fragments/sidebar"></div>

    <div class="dash-main">
        <div class="content-header light-blue-bg">
            <h2>Market</h2>
        </div>


        <section>
            <div class="product-action">
                <a href="#" onclick="showAddModal()" class="action-float"><span>+</span></a>
                <a href="/import"><button>Import/Export</button></a>

            </div>
        </section>

        <section class="product-filter">
            <div><h3>Filter</h3></div>

            <div class="filter-form">
                <form method="post" th:action="@{/market}" th:object="${categoryFilter}">
                    <label>Category:</label>
                    <select th:field="*{filter}">
                        <option th:value="0" selected>All</option>
                        <span th:each="category: ${categories}">
                            <optgroup th:if="${category.getSuperCategoryId() == 0}" th:label="${category.getName()}">
                                <span th:each="subCat: ${categories}">
                                    <option th:if="${category.getId() == subCat.getSuperCategoryId()}" th:text="${subCat.getName()}" th:value="${subCat.getId()}"></option>
                                </span>
                            </optgroup>
                        </span>
                    </select>

                    <input type="submit" value="Filter">
                </form>
            </div>
        </section>

        <section class="product">

            <form >
<!--                <div class="filter-form">
                    <label style="margin-top: 20px;margin-right: 30px;">with selected:</label>
                    <button type="submit">Buy</button>
                </div>-->
                <div class="products-list">
                    <table>
                        <tr>
<!--                            <th>Select</th>-->
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Company</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        <tr th:if="${marketProducts.isEmpty()}">
                            <td colspan="5" align="center">No Products yet</td>
                        </tr>

                        <tr th:each="marketProduct : ${marketProducts}">
<!--                            <td><input type="checkbox"></td>-->
                            <td><img src="resource/images/card.jpg" height="20px"></td>
                            <td><span th:text="${marketProduct.getName()}">Name</span></td>
                            <td><span th:text="${marketProduct.getCompany()}">Product</span></td>
                            <td><span th:text="${marketProduct.getSellingPrice()}">Cost Price</span></td>
                            <td><a href="#" onclick="showBuyModal();">Buy</a></td>
                        </tr>
                    </table>
                </div>
            </form>
        </section>

        <div class="pop-up" id="add-product">

            <div class="dash-modal" id="confirmation-form">
                <a class="hide-modal" href="#" onclick="hideModal()">x</a>
                <form action="#" method="post">
                    <div class="container">
                        <h3>Are you sure?</h3>
                        <hr style="border: 1px solid #e8e8e8">
                        <br>

                        <button type="submit">Yes</button>
                        <button type="submit" style="background-color: red; margin-top: 20px;" onclick="hideModal()">No</button><br><br>

                    </div>

                </form>
            </div>

            <div style="max-width: 40%;" class="dash-modal" id="buy-form">
                <a class="hide-modal" href="#" onclick="hideModal()">x</a>
                <div class="buy-modal">
                    <div>
                        <img src="resourse/images/splash.jpg" />

                        <div class="quantity">
                            <span>Quantity: </span>
                            <select name="quantity" id="quantity">
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>

                        <a href="#"><button>Buy</button></a>
                    </div>
                    <div>
                        <p>Product Name</p>
                        <p>Company</p>
                        <p>Price</p>
                        <p>Description</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">


    function showBuyModal() {
        showModal();
        document.getElementById("buy-form").style.display="block";
    }

    function showModal() {
        hideAll();
        document.getElementById("add-product").style.display="block";
    }

    function hideModal() {
        document.getElementById("add-product").style.display="none";
    }

    function hideAll(){
        document.getElementById("buy-form").style.display="none";

    }

    function minus(){
        document.getElementById("buy")
    }

</script>
</body>
</html>
